body {
	font-family: 'Roboto', sans-serif;
}

h2{
	font-size: 4vw;
}

#space{
	padding-top: 50px;
}

button {
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  padding-bottom: 150px;
}

iframe{
  display: block;
  margin-left: 27vw;
  margin-top: -24.5vw;
  overflow: hidden;
}

p {
  font-size: 5vw;
}

.norm{
  font-size:5vw;
  padding-left: 10px;
  margin-top: 0px;
}

/*
*spinning title
*/

#spinner {
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0%  { text-shadow: 0 0 black; }
  25% { text-shadow: 10px 0 black, 20px 0 black, 30px 0 black, 40px 0 black, 50px 0 black; }
  50% { text-shadow: 0 0 black; }
  75% { text-shadow: -10px 0 black, -20px 0 black, -30px 0 black, -40px 0 black, -50px 0 black; }
  100% { text-shadow: 0 0 black; }
}
